body {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, clean, sans-serif;
  margin: 0 auto;
  width: 95%;
  max-width: 600px;
  font-size: 12pt;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.hidden {
	display: none;
}
